@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 150%;
    height: 100%;
    width: 100%;
    font-family: Constantia, Georgia, serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0a7ad5;
    background-image: linear-gradient(bottom, rgb(209,228,247) 25%, rgb(114,176,231) 63%, rgb(10,122,213) 82%);
    background-image: -o-linear-gradient(bottom, rgb(209,228,247) 25%, rgb(114,176,231) 63%, rgb(10,122,213) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(209,228,247) 25%, rgb(114,176,231) 63%, rgb(10,122,213) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(209,228,247) 25%, rgb(114,176,231) 63%, rgb(10,122,213) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(209,228,247) 25%, rgb(114,176,231) 63%, rgb(10,122,213) 82%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(209,228,247)),
        color-stop(0.63, rgb(114,176,231)),
        color-stop(0.82, rgb(10,122,213))
    );
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: seagreen;
}


.mvf-body
{
    margin: auto;
    width: 60em;
    background: white;
    min-height: 480px;
}

.mvf-main
{
    padding: 0 1em;
    padding-bottom: 2em;
}

.mvf-header
{
    border-bottom: 1px dotted #ccccff;
    padding: 0.5em 1em;
    padding-bottom: 0;
}

.mvf-header > div
{
    float: right;
    font-size: large;
    margin-top: 0.5em;
    font-style: italic;
}

.mvf-main
{
    width: 45em;
}


.table
{
    display: table;
}

.table > div
{
    display: table-row;
}

.table > div > div
{
    vertical-align: top;
    display: table-cell;
}

.mvf-menu
{
    display: table;
    width: 100%;
    border: 1px solid #336;
}

.mvf-menu a
{
    cursor: pointer;
    background-image:
    -webkit-linear-gradient(bottom, rgb(0,0,50) 5%, rgb(0,50,125) 95%);
    border-left: 1px solid #003;
    border-right: 1px solid #006;
    display: block;
    font-variant: small-caps;
    opacity: 0.65;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

.mvf-menu a:hover
{
    color: white;
    opacity: 1.0;
    text-decoration: none;
}

.mvf-menu > ul
{
    display: table-row;
    margin: 0;
    padding: 0;
}

.mvf-menu > ul > li
{
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 10%;
}

.mvf-menu > ul > li:first-child > a
{
    border-left: none;
}

.mvf-menu > ul > li:last-child > a
{
    border-right: none;
}

.mvf-menu > ul > li > ul
{
    background-color: #0a7ad5;
    border: 1px solid black;
    box-shadow: 1px 1px 1px #444;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.mvf-menu > ul > li > ul
{
    border-top: 1px solid navy;
    margin: 0;
    padding: 0;
}

.mvf-menu > ul > li:hover > ul
{
    display: block;
    border-radius: 0 0 5px 5px;
}

.mvf-menu > ul > li:hover > ul > li > a
{
    border-top: 1px solid black;
}

.mvf-top
{
    margin: auto;
    width: 60em;
}


ul
{
    list-style: circle;
}

a
{
    text-decoration: none;
    color: #0a7ad5;
}

a:hover
{
    text-decoration: underline;
    color: #0a88ff;
}

.mvf-side
{
    width: 15em;
    padding: 0 1em;
}

.mvf-footer
{
    color: #ddddff;
}

.mvf-footer a
{
    color: limegreen;
}

.mvf-footer a:hover
{
    color: lime;
}

.mvf-footer h1, .mvf-footer h2, .mvf-footer h3, .mvf-footer h4
{
    color: yellow;
    font-size: larger;
}

.mvf-footer > div > div.table
{
    font-size: smaller;
    margin: auto;
}

.mvf-footer > div > div.table > div > div
{
    padding: 0 1em;
    min-width: 12em;
    max-width: 20em;
}

.mvf-footer dt
{
    float: left;
    width: 8em;
}

.mvf-footer dd
{
    float: right;
}

.mvf-footer > div
{
    padding-bottom: 1em;
    width: 60em;
    margin: auto;

    background-image: linear-gradient(bottom, rgb(0,40,80) 3%, rgb(0,25,50) 75%);
    background-image: -o-linear-gradient(bottom, rgb(0,40,80) 3%, rgb(0,25,50) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(0,40,80) 3%, rgb(0,25,50) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,40,80) 3%, rgb(0,25,50) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(0,40,80) 3%, rgb(0,25,50) 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(0,40,80)),
        color-stop(0.75, rgb(0,25,50))
    );

}

address
{
    white-space: pre-line;
    font-style: normal;
}

.avatar img
{
    box-shadow: 2px 2px 2px 2px #336;
    margin: 0.5em 0;
}

.buttons
{
    margin-top: 2em;
}

.buttons a
{
    display: block;
    padding-right: 1em;
}

a img
{
    border: none;
}

div.post
{
    margin-bottom: 2em;
}